# Ambiente virtual Python
venv/
env/
.venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs gerados em execução
bing_log.txt
*.log


# Arquivo XML temporário do ADB
view.xml
*.xml

# Arquivos de depuração e imagens
*.html
*.png

# IDE / Editor
.vscode/
.idea/
*.swp

# Variáveis de ambiente / chaves sensíveis
.env
*.env
secrets.py
